@model Grundlagen.Models.PlacesModel

<div class="card">
    <img src="@Model.ImageUrl" alt="@Model.Description" style="width:300px;" />
    <div class="card_description">@Model.Description</div>
    <div class="card-date">@Model.Date.ToShortDateString()</div>
</div>
