@model Website.Models.PlacesModel

<div class="card">
    <img src="@Model.ImageUrl" alt="@Model.Description style="width:300px;" />
    <div class="card-description">@Model.Description</div>
    <div class=""></div>
    </div>

</div>
