@page
@model IndexModel
@{
    ViewData["Title"] = "Terminplaner";
}

<div class="text-center" style="height: 60vh; display: flex; flex-direction: column; justify-content: center;">
    <h1 style="font-size: 7rem; font-weight: bold; margin-bottom: 2rem;">Terminplaner</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
