@model IEnumerable<Grundlagen.Models.PlacesModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="page-title">
    <PageTitle>Urlaubsorte</PageTitle>
</div>

<div class="place-columns">
    @foreach (var item in Model)
    {
        @Html.Partial("_PlaceCard", item);
    }
</div>
