html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.page-titel{
    font-size: 300px;
    width:100%;
    text-align: center;
}

.card{
    width:350px;
    margin:20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: lightblue;
    background: linear-gradient(45deg rgba(2)18.216.255.1) 0%, rgba(174,174,214,1), rgba(0.2112.255.1) 100%);
}
    .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    }

    .card-description {
    font-size: 12px;
    color: #ff0000;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-family: Arial 'Segoe UI', Táhoma, Verdana, Verdana, Geneva, Tahoma, sans-serif, Tahoma, Verdana, sans-serif;
}

    .card-date {
    padding-left:20px;
}

    .place-columns{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

